body#excerciseSearch.searchadd div#sort-block.block-4 div.col-1,
body#excerciseSearch div.block-4 div#sort-block.col-1,
body#food-search-results #main > div.block-4 > div.col-1 div.block-4 div.col-1
{
  height: 90px !important;
}

.search-filters #filter-by-text
{
  padding: 5px;
  width: 250px;
}

span.confirmation-count
{
  color: #555;
  float: right;
  padding-top: 4px;
  margin-right: 2px;
}

input#confirmation-sort
{
  margin-bottom: -2px;
}

label.disabled
{
	color: #777;
}

img#confirmation-spinner
{
	height: 12px;
	width: 12px;
}